pkgbase = rollup
	pkgdesc = Next-generation ES6 module bundler
	pkgver = 4.16.1
	pkgrel = 1
	url = https://rollupjs.org/
	arch = any
	license = MIT
	makedepends = npm
	depends = nodejs
	noextract = rollup-4.16.1.tgz
	options = !emptydirs
	source = rollup-4.16.1.tgz::https://registry.npmjs.org/rollup/-/rollup-4.16.1.tgz
	sha256sums = 413479ae6d0fa4b10b960adbe480347a292131f2d6022877f1582486d5ee744c

pkgname = rollup
