pkgbase = rollup
	pkgdesc = Next-generation ES6 module bundler
	pkgver = 4.16.2
	pkgrel = 1
	url = https://rollupjs.org/
	arch = any
	license = MIT
	makedepends = npm
	depends = nodejs
	noextract = rollup-4.16.2.tgz
	options = !emptydirs
	source = rollup-4.16.2.tgz::https://registry.npmjs.org/rollup/-/rollup-4.16.2.tgz
	sha256sums = f7b850a34e13f89f60b6b18e671f7c3d14e6cccbd03dd35202215dd5f05d6b29

pkgname = rollup
