pkgbase = rollup
	pkgdesc = Next-generation ES6 module bundler
	pkgver = 4.14.0
	pkgrel = 1
	url = https://rollupjs.org/
	arch = any
	license = MIT
	makedepends = npm
	depends = nodejs
	noextract = rollup-4.14.0.tgz
	options = !emptydirs
	source = rollup-4.14.0.tgz::https://registry.npmjs.org/rollup/-/rollup-4.14.0.tgz
	sha256sums = 75b3e23a95be7eef3d80b731b8615d7cf9e60d29e8638fc663fca6aeb68525db

pkgname = rollup
